body {
	margin: 0 auto;
}

header {
	background: #0070A4;
	background: #118BC0;
	text-align: right;
	color: #fff;
	overflow: hidden;
}

header > a {
	background: #0070A3;
	text-decoration: none;
	display: inline-block;
	padding: 3em;
}

span {
	color: #82BDD7;
}

.light-blue-header {
	background: #118BC0;
	/*margin-right: 4.625em;*/
	padding: 1em;
	float: left;
}

.small-white-bar {
	background-image: url("../images/logo.png");
	height: 3.6em;
	width: 3.6em;
	float: left;
}

.large-white-bar {
	height: 2.125em;
	background: #118BC0;
	/*background: #fff;*/
	margin-top: 1em;
	text-align: left;
	margin-left: 1em;
	font-size: 1.5em;
	color: #fff;
	width: 10.4375em;
	float: left;
}

.section1 {
	height: 75em;
	/*background: #344051;*/
	padding-top: 4em;
	background-image: url("../images/crowd.jpg");
	background-size: 100%;
}

.title {
	text-align: center;
	color: #fff;
	font-family: Open Sans;
	font-size: 3.5em;
}

.intro {
	text-align: center;
	color: #fff;
	font-family: Open Sans;
}

.create-website {
	height: 3.375em;
	background: #1E8CBE;
	width: 13em;
	margin: 0 auto;
	border: 12px solid #212934;
	margin-top: 5em;
}

.arrow {
	height: 1.3125em;
	width: 3em;
	margin: 0 auto;
	background: #fff;
	margin-top: 13.25em;
}

.feature-wrapper {
	padding-top: 7.375em;
	width: 25em;
	margin: 0 auto;
	overflow: hidden;
}

.feature-wrapper section {
 overflow: hidden;
 margin-bottom: 1em;
}

.image-text2 {
	margin: 0 auto;
	margin-top: 2em;
	width: 24.875em;
	background-color: red;
	overflow: hidden;
	/*padding: .5em;*/
}

.left-gray-border1 {
	width: 4em;
	height: 6em;
	/*padding: 1em;*/
	/*background: #fff;*/
	margin-top: 1em;
	background-image: url("../images/tablet.png");
	background-repeat: no-repeat;
	float: left;
}

.left-gray-border2 {
	width: 4em;
	height: 6em;
	/*padding: 1em;*/
	margin-top: 1em;
	/*background: #fff;*/
	background-image: url("../images/newspaper.png");
	background-repeat: no-repeat;
	float: left;
}

.left-gray-border3 {
	width: 4em;
	margin-top: 1em;
	height: 6em;
	/*padding: 1em;*/
	background-image: url("../images/paint-brush.png");
	background-repeat: no-repeat;
	/*background: #fff;*/
	float: left;
}

.text {
	color: #D5D6D2;
}

.right-gray-border  {
	/*border-bottom: 1em solid white;*/
	float: left;
	width: 19em;	
	color: #fff;
	margin-left: 2em ;
	/*border-right: 0.3em solid white;*/
}

.para-section {
	padding-top: 1em;
	/*height: 11.875em;*/
	background: #E8F0F5;
	height: 100%;
}

.para {
	text-align: center;
	font-size: 2em;
	color: #31415A;
	word-spacing: 0.25em;
}

.big-grey {
	height: 98.5625em;
	background: #D1D3D7;
	padding-top: 2em;
}

.big-white {
	background: white;
	margin: 0 1em;
	height: 12.5em;
	padding-top: 1em;
}

.grey-square {
	margin: 0 auto;
	background: #C7D2D8;
	height: 3.875em;
	width: 3.875em;
}

.grey-rectangle1 {
	/*background: #C7D2D8;*/
	text-align: center;
	color: #426277;
	font-weight: bold;
	height: 1.4375em;
	width: 90%;
	margin: 0 auto;
	margin-top: 1em;
}

.grey-rectangle2 {
	/*background: #C7D2D8;*/
	height: 4em;
	text-align: center;
	font-size: 1.2em;
	color: black;
	width: 90%;
	margin: 0 auto;
	margin-top: 1em;
}

.big-white2 {
	background: white;
	margin: 0 1em;
	margin-top: 2em;
	padding-top: 1em;
	color: #fff;
	height: 12.5em;
}

.bottom-section {
	/*height: 10.625em;*/
	height: 100%;
	padding: 0.5em 0;
	background: #E8F0F5;
}

.button {
	height: 6.25em;
	width: 20.9375em;
	background: #1E8CBE;
	border: none;
	margin-top: 6.125em;
}

button  h3 {
	color: #fff;
	font-size: 1.5em;
}

.wordpress {
	font-size: 2em;
	color: #314156;
}

.footer {
	height: 8.125em;
	background: #000;
	text-align: center;
	padding-top: 1.625em;
}

a {
	color: #fff;
	margin-left: 1em;
}

.automatic {
	height: 1.5em;
	background: #fff;
	width: 8.25em;
	margin-top: 2em;
	margin: 0 auto;
}
/*.div {
	height: 4em;
	background: #fff;
}

.div2 {
	height: 4em;
	background: #fff;
	margin-top: 4em;
}*/